.ai-container {
    margin: 0 auto;
    width: 85%;
    height: 120px;
    border: 3px solid #411f18;
    background-color: rgb(0, 61, 0);
    border-radius: 5px;
    padding: 3px;

}
.ai-container h4 {
    margin: 0 auto;
    text-align: center;
}
.ai-container .ai .ai-card-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}
