.info-panel {
    width: 100%;
    grid-area: infopanel;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding: 10px 0;
}
.info-panel p {
    font-size: 12px;
    margin: 1px 20px;
}
