.player-hand {
    margin: 0 auto;
    border: 3px solid #411f18;
    border-radius: 5px;
    height: 93%;
    display: flex;
    justify-content: center;
    min-width: 350px;
    background-color: rgb(0, 61, 0);
}